body{
    background-color: #f0f0f0;
}

.editor-card{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto 100px auto;
}

@media (max-width: 992px) {

    .editor-card{
        width: 95vw;
    }

}

@media ( min-width: 993px ) and ( max-width: 3000px ) {

    .editor-card{
        margin-top: 50px;
        width: 70vw;
    }

}